# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/pdash-dev-db

# Authentication
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=1h

# Security / CORS
ALLOWED_ORIGINS=http://localhost:4200
